<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download850.mediafire.com/uynqsxdx7a9gOyT8Dzt6Sva8stuZr2wLdEdQAQ51iXJP6tna_QlTxoycjwZCv4wGHrpIraAynsvHZqgkoNsWCsqFWSBXi7MukptCTeag7VglXVPutbOx_WgCoPVeMYkabHj8BTuESwhsImMiKb1NxAFXrOAHDa6MSvoEH9Ab6TDf3A/t18wmhua31nlu81/Flero_2.207_1771419784.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.sp67.flero</string>
                <key>bundle-version</key>
                <string>2.207</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Flero</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
